<section class="section github-stars-section">
    <h2 class="section-title">
      <span class="fa-stack fa-xs">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
      </span>
      GitHub stars over time
    </h2>
    <iframe style="width:100%;height:auto;" src="https://star-history.com/embed?secret=Z2hwX3d5YmF3dmxQQXVpeHhVd09BU3ROWXB2V09hQmt0ZTBzV0JvZA==#hu64/rn-vid&hu64/spotnet&hu64/ffavod&hu64/centerpoly&gafaua/polytrack&Date" frameBorder="0"></iframe>
</section><!--//section-->
